<header>
    <nav>
        <ul>
            <li>
                <a href="/">На головне</a>
            </li>
            <li>
                <a href="/about">Про мене тут нічо нема🤫</a>
            </li>
            <li>
                <a href="post/category/programming">Програмування</a>
            </li>
            <li>
                <a href="post/category/art">Моє мистецтво</a>
            </li>
            <li>
                <a href="post/category/games">Топові ігри</a>
            </li>
        </ul>
    </nav>
</header>